header{
    background-color: greenyellow;
}

#link:hover{
    color: #ff5722;
    text-decoration: underline;
    font-size: x-large;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

nav{
    background-color: aqua;
    margin-bottom: 20px;
    margin: 0;
}

.navbar{
    text-emphasis-color: black;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.tabla{
    text-align: center;
}

footer{
    background-color: brown;
}

h1{
    color: rgb(191, 111, 26);
    font-size: 40px;
}

h3{
    color: violet;
}